<header class="p-3 mb-3 border-bottom">
  <div class="container">
      
      <div>
      <ul class="nav  nav-pills nav-fill ">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

              <a href="/" class="navbar-brand">
                <img src="../../assets/logo.png" class="imagen1">
              </a>
          </div>

              <h2>AGROTICS</h2>
              <br>


        <li class="nav-item">
          <a href="Inicio" class="nav-link link-dark"><h6>INICIO</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark" aria-current="page" href="Estacion" ><h6>ESTACION</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark" href="#"><h6>PROYECTOS</h6></a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-dark" href="MuestraPlantas"><h6>NUESTRAS PLANTAS</h6></a>
        </li>
        <div class="dropdown text-end">
            <a  class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img  src="https://github.com/mdo.png" alt="mdo" width="32" height="32"  class="rounded-circle" (click)="goToLogin()">
            </a>
          </div>
      </ul>
    </div>
    
  </div>
</header>
  
  <!--DIVISOR-->
  <div class="jumbotron jumbotron-fluid" style="background-color: #409525;">
    <div class="container">
      <!--<h1 class="display-4">Fluid jumbotron</h1>-->
      <br>
      <h2 id="consultaplantas" class="text-center">Ficha Tecnica</h2>
      <br>
    </div>
  </div>


  <hr>
<div class="container"  >
  <div class="row">
    <div class="col">
      
      <img src={{imagen}} class="img-thumbnail"  id="imagen-json">
      <hr>
      <div class="col">
        <i class="fa fa-pied-piper" aria-hidden="true"> Temperatura optima de {{optima}}</i>
      </div>
      <hr>
      <div class="col">
        <i class="fa fa-leaf" aria-hidden="true"> Época de siembra en {{nombreEpoca}}</i>
      </div>
      <hr>
      <div class="col">
        <i class="fa fa-tint" aria-hidden="true"> El riego {{detalle}} </i>
      </div>
    </div>
    <div class="col">
      <p>{{categoria}}</p>
      <h2>{{nombreComun}}</h2>
      <br>
      <h5>TAXONOMÍA</h5>
      <p>Familia: {{familia}}</p>
      <p>Genero: {{genero}}</p>
      <p>Especie: {{especie}}</p>
      <h5>MORFOLOGÍA</h5>
      <P>Semilla: {{semilla}}</P>
      <p>Raíz: {{raiz}}</p>
      <p>Tallo: {{tallo}} </p>
      <p>Hojas: {{hojas}}</p>
      <p>Inflorencia: {{inflorescencia}}</p>
      <p>Frutos: {{fruto}}</p>
    </div>
  </div>

  <hr>
  <h4 class="text-center">LABORES DE CULTIVO</h4>
  <div class="container">
    <div class="row">
      <div class="col">
        <hr>
        <div class="col">
          <h4>SEMILLERO</h4>
          <p>{{descripcion}}</p>
          <blockquote>Cantidad de semilla: {{cantidadSemilla}} </blockquote>
        </div>
      </div>
      <div class="col">
        <hr>
        <h4>PLANTACIÓN</h4>
        <P>{{detallePlantacion}}</P>
        <blockquote>Distancia entre surcos: {{distanciaSurcos}}</blockquote>
        <blockquote>Distancia entre plantas: {{distanciaPlantas}}</blockquote>
        <blockquote>Número de plantas por surco: {{hilerasSurco}}</blockquote>
      </div>

    </div>
    <div class="container">
      <h4>PREPARACIÓN DEL TERRENO</h4>
      <hr>
      <blockquote>
        {{preparacionTerreno}}
      </blockquote>
      <hr>
      <h4>RECOLECCIÓN Y ALMACENAMIENTO</h4>
      <hr>
      <blockquote>
        {{recoleccionAlmacenamiento}}
      </blockquote>
    </div>
<br>
<br>

<div class="row row-cols-1 row-cols-md-3 g-4 ">
    <div class="col">
      <div class="card h-100 card border-success mb-3">
        <div class="card-body">
          <h5 class="card-title text-center">Buena Asociacion</h5>
          <p class="card-text">{{buenaAsociacion}} </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card border-danger mb-3">
        <div class="card-body ">
          <h5 class="card-title text-center">Mala Asociacion</h5>
          <p class="card-text"> {{malaAsociacion}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 card border-info mb-3">
        <div class="card-body ">
          <h5 class="card-title text-center">Usos recomendados</h5>
          <p class="card-text">{{usoAplicacion}}</p>
        </div>
      </div>
    </div>
  </div>
  <br><Br>
</div>
</div>

    <!-- FOOTER-->
<br>

<footer class="bg-dark text-center text-white" >
    <div class="container p-4">
      <section class="mb-4">
        <div class="container p-4">
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <img src="https://utpl.edu.ec/sites/default/files/imagenes/escudo.png" class="imagen2">
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
              <br><BR><br>
              <h1 class="text-uppercase">AgroTics</h1>
            </div>
          </div>
        </div>
  
        <hr>
  
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h2>Universidad Técnica Particular de Loja </h2>
          </div>
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <p>Estación Agropecuaria</p>
            <p>Ubicación: km 3 1/2 vía a Malacatos</p>
            <p>Área total: 32009 km</p>
            <p>Correo Electrónico: agrotics@utpl.edu.ec</p>
          </div>
        </div>
  
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="#">AGROTICS</a>
    </div>
  </footer>