<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img src="https://cdn.icon-icons.com/icons2/2929/PNG/512/sprout_leaf_plant_agriculture_ground_icon_183602.png"
            class="imagen1">
        </a>
  
        <h2>AGROTICS</h2>
        <hr>
        <form class="align-self-start">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-end mb-md-0">
          <li>
            <a href="#" class="nav-link px-2 link-secondary">INICIO</a>
          </li>
          <li>
            <a  [routerLink]= "['Estacion']" href="#" class="nav-link px-2 link-dark">ESTACIÓN</a>
          </li>
          <li>
            <a [routerLink]= "['FichaTecnica']" href="#" class="nav-link px-2 link-dark">PROYECTOS</a>
          </li>
          <li>
            <a [routerLink]="['MuestraPlantas']" href="#" class="nav-link px-2 link-dark">NUESTRAS PLANTAS</a>
          </li>
        </ul>
  
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="jumbotron jumbotron-fluid" style="background-color: #2E842D;">
      <div class="container">
        <!--<h1 class="display-4">Fluid jumbotron</h1>-->
        <br>
        <h2 id="consultaplantas" class="text-center">¿Quienes somos?</h2>
        <br>
      </div>
    </div>
    
      
      <img src="https://image.freepik.com/vector-gratis/dibujos-animados-personas-herramientas-jardineria-verduras-ilustracion-jovenes-trabajadores-agricolas-personaje_1207-1088.jpg" class="rounded float-end" alt="...">
      
      <div class="card">
        <div class="card-body">
            <br><p class="text-break">“Un equipo es un conjunto de personas con habilidades complementarias que realizan una tarea para alcanzar resultados comunes. En definitiva, un equipo de trabajo 
              está conformado por profesionales con habilidades complementarias que deben alcanzar un objetivo común.”
              Los equipos de trabajo son grupos cuyos miembros trabajan para alcanzar un objetivo común 
              y específico, actuando sobre la base de la responsabilidad individual y mutua con el fin 
              de aprovechar las sinergias de las competencias adicionales para trabajar juntos. 
              Mediante esfuerzos coordinados y sinergias, los equipos de trabajo demuestran un mayor 
              nivel de productividad que la simple suma de las contribuciones individuales.</p>
          
        </div>
      </div>

      <br><br><br><br><br><br>
      <div class="alert alert-success text-center" role="alert" >
        MISION
      </div>
        <img src="http://www.lasalle-cariamanga.edu.ec/wp-content/uploads/2019/09/mision.png" class="rounded float-start" alt="...">
        <div class="card">
            <div class="card-body">
                <p class="text-break">La misión es la respuesta que la empresa da cuando se pregunta:
                  ¿Quiénes somos? y ¿Qué hacemos? Debe diferencia la empresa de la competencia y 
                  mostrar su valor y su hacer único en el mercado.Puede incluir una descripción de 
                  producto/servicios, mercados, cultura empresarial y metas financieras de la compañía.
                  Para qué existe. Debe ser una frase inspiradora, que hable del fin último de sus 
                  actividades. En qué mejora el mundo gracias a las actividades de la compañía. 
                  Proporciona a la empresa y a sus miembros una referencia válida en cuanto su propia 
                  identidad.
                  La misión ayuda a responder la primera de las tres preguntas: ¿Quiénes somos? 
                  La misión empresarial es una declaración escrita en la que se describe la razón de ser 
                  de la empresa y su objetivo principal. Es una declaración de los principios corporativos
                  y debe redactarse expresamente para cada empresa u organización, ya que no sirve de nada 
                  copiar la misión, visión y valores de otras compañías. 
                  La misión de una empresa define e informa principalmente de qué es lo que hace la 
                  compañía, a que se dedica, actividad en el mercado, cómo lo lleva a cabo, cuál es su 
                  propuesta de valor; además se puede completar haciendo referencia al público hacia el 
                  que va dirigido y con la singularidad, particularidad o factor diferencial, mediante 
                  la cual desarrolla su labor o actividad.</p>
            </div>
          </div>
      

      <div class="alert alert-success text-center"  role="alert">
        VISION
      </div>
        <img src="https://fundhemi.org/wp-content/uploads/2019/03/vision.jpg" class="rounded float-end" alt="...">
        <div class="card">
            <div class="card-body">
              <p class="text-break">La visión de la compañía refleja entonces la imagen mental para su 
                trayectoria, y establece los criterios que la firma seguirá para cumplir esos objetivos.
                La definición de la visión debe ser uno de los papeles centrales del líder, y del equipo
                 ejecutivo de la empresa. Así, debe servir como referencia para todas las actuaciones de 
                 los empleados.Es decir, ante las diversas alternativas que se les pudiera plantear sobre 
                 cómo realizar las tareas, todos los integrantes de la compañía deberían optar por aquellas
                  que más se ajusten a la visión.
                  La Visión es la capacidad de ver más allá, en tiempo y espacio, y por encima de los demás,
                  significa visualizar, ver con los ojos de la imaginación, en términos del resultado final
                  que se pretende alcanzar.La declaración de visión, ya sea en el plano personal o como 
                  componente del proceso de administración estratégica de una organización,</p>
            </div>
        </div>
<br><br><br><br><br><BR>
        <footer class="bg-dark text-center text-white">
            <div class="container p-4">
              <section class="mb-4">
                <div class="container p-4">
                  <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnj_M_P-jS0JqjcfuwCJt0rvPWl58shdXjCg&usqp=CAU" class="imagen2">
                    </div>
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                      <h1 class="text-uppercase">AgroTics</h1>
                    </div>
                  </div>
                </div>
          
                <hr>
          
                <div class="row">
                  <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h2>Universidad Técnica Particular de Loja </h2>
                  </div>
                  <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <p>Estación Agropecuaria</p>
                    <p>Ubicación: km 3 1/2 vía a Malacatos</p>
                    <p>Área total: 32009 km</p>
                    <p>Correo Electrónico: agrotics@utpl.edu.ec</p>
                  </div>
                </div>
          
              </section>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              © 2020 Copyright:
              <a class="text-white" href="#">AgroTics</a>
            </div>
          </footer>
     